#dashboard-widgets-wrap .postbox-container .empty-container {
    display: block !important;
}

.post-type-ssm_team th#team_headshot_col {
    width: 15%;
}

.postbox#tagsdiv-ssm_location_neighborhood,
.postbox#tagsdiv-ssm_department {
    display: none !important;
}

.edit-post-meta-boxes-area .acf-postbox>.postbox-header>h2 {
    font-size: 13px !important;
    padding-left: 15px !important;
    color: #1e1e1e !important;
    font-weight: 500 !important;
}