.wp-block-ssm-testimonials .splide__pagination {
    @apply
        hidden
        xl:flex
        absolute
        top-1/2
        right-16
        translate-y-[-50%]
        p-0
        w-8
        flex-col
        gap-4
        flex-nowrap;
}


.wp-block-ssm-testimonials .splide__pagination__page {
    @apply
        w-3
        h-3
        m-0
        border-solid
        border-2
        border-gray-400
        hover:border-gray-500
        focus:[box-shadow:none]
        !bg-none
        !bg-transparent;
}

/* Primary Color */
.wp-block-ssm-testimonials.splide-color-primary-500 .splide__pagination__page.is-active {
    @apply border-primary-600;
}

.wp-block-ssm-testimonials.splide-color-primary-500 .splide__pagination__page:hover {
    @apply border-primary-600;
}

/* Secondary Color */
.wp-block-ssm-testimonials.splide-color-secondary-500 .splide__pagination__page.is-active {
    @apply border-secondary-600;
}

.wp-block-ssm-testimonials.splide-color-secondary-500 .splide__pagination__page:hover {
    @apply border-secondary-600;
}

/* Tertiary Color */
.wp-block-ssm-testimonials.splide-color-tertiary-500 .splide__pagination__page.is-active {
    @apply border-tertiary-600;
}

.wp-block-ssm-testimonials.splide-color-tertiary-500 .splide__pagination__page:hover {
    @apply border-tertiary-600;
}
